$primary_color :#323232;
$secondry2_color: #d8363a;
$secondry_color: #FFE1A8;
*{
    box-sizing: border-box;
    user-select: none;
 
}

.upperblock{
    position: relative;
    width: 100%;
    height: 40vh;
    background-color:$secondry2_color;
    border-bottom-left-radius: 50px 20px;
    border-bottom-right-radius: 50px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 2px 5px $primary_color;

}
.upperblock_text{
    
    margin: auto;
     font-size: 40px;
  color:$secondry_color;
  >span{
    font-size:60px;
    display: inline-block; /* Ensures line-height works properly */
    vertical-align: middle;
  }
}
.content{
  top:70%;
  position: absolute;
  width: 80%;
  height: 70vh;

  background-color: whitesmoke;
  border-radius: 12px;
  box-shadow: 2px 2px 5px $primary_color;
}
.nevigation{
  transition:1s;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 4px;
  width: 100%;
  // border:2px solid red;
  height:50px;
  >div{
    width: 25%;
    padding:5px;
   
  }
  
 
}
.active{
  transition: 0.2s;
  color:$secondry2_color;
  border-bottom: 3px solid $secondry2_color;
}

.name-and-username{
  padding: 3px;
  box-shadow: 2px 2px 5px $primary_color;
  width: 30%;
  margin: 6px auto;
  >h3{
    width: 100%;
    text-align: start;
  }
  >h5{
    width: 100%;
    text-align: start;
  }

}
.email-phone{
  width: 90%;
  margin:6px auto;
 padding: 15px;
 box-shadow: 2px 2px 5px $primary_color;
  text-align: center;
}

.edit-profile{
  width: 40%;
  margin: 2px auto;
  padding:15px;

}
.name{
  margin-top: 15px;
  >label{
    margin-top: 5px;
  }
  text-align: start;
  >input{
    width: 100%;
  }
  >button{
    margin-top: 5px;
    padding:4px;
    background-color: #d8363a;
    color:white;
    border:none;
    box-shadow: 2px 2px 5px $primary_color;
  }
  >button:active {
    background-color: #45a049;
    transform: translateY(1px);
  }
  >p{
    font-size: 10px;
    color:#45a049;
  }

}
.email{
  
}
.changePassword{
  margin-top: 15px;
  >label{
    margin-top: 10px;
  }
  text-align: start;
  >input{
    width: 100%;
  }

}
.changePassword-card{
  margin:2px auto;
  width: 40%;
}
// this is when user in not logged
.not-logged_in{
  padding:30px;
  margin: 20px auto;
  width: 70%;

  box-shadow: 2px 2px 5px $primary_color;
  >p{
    
    display: block;
    padding: 8px;
    width: 100%;
    text-align: center;
  }
  >button{
    margin:4px auto;
  }
}
.buttons{
  margin-top:auto;
  display: flex;
  flex-direction: column;
  gap: 2px;
 
  align-items: center;
  >button{
    background-color: #323232;
    color:aliceblue;
    padding:6px;
    width: 200px;
  }
}
.loading{
  width: 100%;
  height: 100vh;
  text-align: center;
}
.profile-card{
  margin: 0px auto;
  width: 100px;
  min-height: 100px;
  border-radius: 50%;
  background: url("../assets/avtar.jpg");
  background-size:contain;
  background-repeat: no-repeat;
}